@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #eaeef3;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}
.active-class {
  color: red;
}

.active {
  border-bottom: 6px solid orange;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
