.LoginContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.LoginContainer div {
  height: 100%;
}
.LoginContainer form {
  height: 100%;
}
.LoginContainer form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.LoginContainer form div Input {
  margin-bottom: 20px;
}
.LoginImageContainer img {
  width: 498px;
  height: 450px;
}
